<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Om</title>
    
    <link rel="stylesheet" href="/css/main.css">
  </head>
<body>
  <header>  
   

    <div class="nav">
      <label for="toggle" id="label">&#9776;</label>
      <input type="checkbox" id="toggle">
      <div class="menu">
        <a href="/">Hem</a>
        <a href="/courses">Lägg till kurs</a>
        <a href="/about"><span id="logo">Om</span></a>
      </div>
    </div>
  </header>

  <main>
  <h2>Om laboration 1 i Backend-baserad utveckling</h2>  
  <p>Denna webbplats har skapats som en första del för att bygga min portfolio vars syfte är att kunna skicka till arbetsgivare i framtiden.</p>
  <p>Databas-server som använts är MySQL.</p>
      
</main>

  <script type="module" src="/src/js/main.js"></script>
</body>
</html>
