<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Om</title>
    
    <link rel="stylesheet" href="/css/main.css">
  </head>
<body>
  <header>  
   

    <div class="nav">
      <label for="toggle" id="label">&#9776;</label>
      <input type="checkbox" id="toggle">
      <div class="menu">
        <a href="/">Hem</a>
        <a href="/courses">Lägg till kurs</a>
        <a href="/about"><span id="logo">Om</span></a>
      </div>
    </div>
  </header>

  <main>
  <h2>Om laboration 1 i Backend-baserad utveckling</h2>  
  <p>Denna webbplats har skapats som en första del för att bygga min portfolio vars syfte är att kunna skicka till arbetsgivare i framtiden. Det är i grunden en laboration som inledning på kursen. Syftet med applikationen är att ge användaren ett enkelt och strukturerat verktyg för att hantera sina genomförda kurser. </p>
 <h3>Teknik</h3>
<p>Webbplatsen är byggd med Node.js och ramverket Express. För att skapa de dynamiska sidorna har jag använt EJS. All data lagras i en MySQL-databas via XAMPP miljön</p>

<h3>Slutsatser från uppgiften</h3>
<p>När jag äntligen var klar med uppgiften så inser jag att detta är väldigt häftigt. Jag har också fått en större förståelse för hur man kan använda en databas mer praktiskt gentemot tidigare kursen vi läste som var en grundläggande kurs i databaser.</p>
<p>Detta har varit otroligt svårt och komplext. Poletten kring vad jag gjort, varför och liknande har ännu inte trillat ner och jag ser fram emot att utvecklas inom detta område.</p>
      
</main>

  <script type="module" src="/src/js/main.js"></script>
</body>
</html>
