@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #f3f3f3;
}

.nav{
    text-align: left;
    height: 70px;
    line-height: 70px;
    width: 100%;
    z-index: 1000;
    background: #ffffff;
}

.menu{
    width: 80%;
    margin: 0 auto;
}

.menu a{
    clear: left;
    text-decoration: none;
    margin-right: 40px;
    line-height: 70px;
    color: #483c46;
    font-size: 20px;
}

.menu a:last-child{
    margin-right: 0;
}

#label{
    margin: 0 0 0 20px;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle{
    display: none;
}

span#logo{
    font-weight: 700;
    font-size: 25px;
}

main {
    background-color: white;
    max-width: 80ch;         
    margin: 20px auto; // Centrerar main
    padding: 40px;
    border-radius: 8px; // Runda hörn
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-height: 500px;
}

th, td {
    padding: 12px;
text-align: left;
border-bottom: 1px solid #6c757d; 
}

tr:hover {
    background-color: #ccc;
  }
@media only screen and (max-width: 868px){
    #label{
        display: block;
        cursor: pointer;
        width: 24px;
        float: left;
    }

    .menu{
        text-align: center;
        width: 100%;
        background-color: #ffffff;
        display: none;
        margin: 0;
    }

    .menu a{
        display: block;
        border-bottom: 1px solid #ececec;
        margin: 0px;
    }

    #toggle:checked + .menu{
        display: block;
    }


}